.chat-main
  .main-header
    .left-content
      .left-content__g-name
        = @group.name
      .left-content__m-list
        Member:
        - @group.users.each do |user|
          = user.name
    .right-content
      .right-content__edit-btn
        = link_to "Edit", edit_group_path(@group.id), class: "button-e"
        
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__typetext', placeholder: 'type a message'
      .form__pic
        = f.label :image, class: 'form__pic__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
      